<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 扫描组件 -->
	<context:component-scan base-package="com.brother.gtds.*" />

	<!-- 分散配置 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<property name="driverClass" value="${dirverClass}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="initialPoolSize" value="${initSize}" />
		<property name="maxPoolSize" value="${maxSize}" />
	</bean>
	<!-- SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/brother/gtds/model/Notice.hbm.xml</value>
				<value>com/brother/gtds/model/Department.hbm.xml</value>
				<value>com/brother/gtds/model/ReplyGroup.hbm.xml</value>
				<value>com/brother/gtds/model/Student.hbm.xml</value>
				<value>com/brother/gtds/model/Task.hbm.xml</value>
				<value>com/brother/gtds/model/Teacher.hbm.xml</value>
				<value>com/brother/gtds/model/Thesis.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置Hibernate事务管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- aop配置 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*service.*.*(..))" />
	</aop:config>

</beans>